.editor {
  letter-spacing: 0.00625em;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 15px 25px;
  outline: none;
  height: 90vh;
  overflow: auto;
}

.split {
  height: 94vh;
  width: 100%;
}

.mark-pad {
  padding: 25px;
  cursor: not-allowed;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0.28571429rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0;
  display: table;
}

textarea {
  background: var(--bg);
  border: 0px;
  height: 100%;
  resize: none;
  width: 99%;
  padding: 25px;
}

textarea:focus {
  outline: 0;
}
