html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px !important;
  padding: 0px !important;
}
button:focus {
  outline: 0 !important;
}
.clearfix {
  overflow: auto;
}
.header {
  height: 64px;
  background: #2196f3;
}

.sidebar {
  float: left;
  width: 250px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, -6.86), 0 0px 3px 0 rgba(0, 0, 0, -7.88), 0 5px 4px 1px var(--sidebar-shadow);
  overflow-y: auto;
  overflow-x: hidden;
  height: 94vh;
  padding-top: -10px;
  color: var(--text-color);
  background: var(--sidebar);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
}

.handle {
  width: 8px;
  background: #ddd;
  cursor: ew-resize;
  flex: 1;
}

.content {
  flex-grow: 1;
  overflow: auto;
  width: 50%;
}

.main {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 600%;
  }
  .content {
    width: 0%;
  }
}
