textarea {
  background: var(--bg);
  border: 0px;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-top: 18px;
  resize: none;
}

input[type='text'] {
  background: var(--bg);
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 18px;
  width: 100%;
}

textarea:focus {
  outline: 0;
}

.help-block {
  font-size: 14px;
  color: var(--list-color);
}

.mat-dialog-actions {
  justify-content: flex-end;
  margin-bottom: -6px;
}

.mat-dialog-actions button {
  padding: 5px 11px;
  background: #1d88e5;
  border-radius: 4px;
  font-size: 14px;
}
