.add {
  border: dashed 4px #000;
  padding: 20px;
  margin: 10px;
}

.item {
  color: var(--list-color); 
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
}

.desc-data {
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  text-overflow: ellipsis;
}

.current {
  background: var(--selected);
}
