<div class="notes-items">
  <app-note-list-item></app-note-list-item>
</div>
<button class=" max-w-sm w-full lg:max-w-full lg:flex new-button" (click)="newNote()">
  <span>New Note</span>
  <i-feather name="plus" class="fe-icon"></i-feather>
</button>
<a
  class="ph-badge"
  href="https://www.producthunt.com/posts/paper-6?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-paper-6"
  target="_blank"
  ><img
    src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=168625&theme=light"
    alt="Paper -
      🚀An offline note taking app with  no-internet sharing. | Product Hunt Embed"
    style="width: 250px; height: 54px;"
    width="250px"
    height="54px"
/></a>
