/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body[class='dark-mode'] {
  --bg: #0f1119;
  --text: #fff;
  --text-color: #718096;
  --shadow: rgba(27, 31, 46, 0.4);
  --selected: #12151f;
  --sidebar-shadow: rgba(39, 37, 39, 0.4);
  --border: #3333337a;
  --button: #1a202c;
  --btn-hover: #2d3748;
  --sidebar: #1a1c25;
  --list-color: #556080;
  --ernote-hov: #1a202c;
  --note-main-text: #e2e8f0;
  --note-sub-text: #718096;
  --modal-bg: #1a202c;
}

body[class='light-mode'] {
  --bg: #fff;
  --text: #212121;
  --shadow: rgba(0, 0, 0, 0.04);
  --sidebar-shadow: rgba(26, 6, 6, 0.2);
  --border: #3333330f;
  --button: #edf2f7;
  --btn-hover: #e2e8f0;
  --sidebar: #edf2f7;
  --list-color: #474747;
  --selected: #e2e8f0;

  --note-hover: #f7fafc;
  --note-main-text: #4a5568;
  --note-sub-text: #a0aec0;
  --modal-bg: #3b434f;
}

* {
  font-family: 'Quicksand', sans-serif;
}

::selection {
  background: #79ffe1;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  background: var(--bg);
  color: var(--text);
}

h2 {
  font-size: 100px;
}

.toggle-icon {
  display: none;
}

.fe-icon {
  width: 15px !important;
  color: var(--text);
  height: 16px !important;
}

.fe-icon:hover {
  color: #718096;
}

.me-editable {
  height: 100vh;
  padding: 20px;
  outline: 0 solid transparent;
}

.custom-class-h1 {
  font-size: 200px;
}

.custom-class-h2 {
  font-size: 15px;
}

.notelist {
  border-bottom: 1px solid var(--border);
  padding: 4px 16px;
}

.notelist .text-sm {
  color: var(--note-main-text);
}

.notelist .text-xs {
  color: var(--note-sub-text);
}

.notelist:hover {
  background: var(--note-hover);
}

.mat-dialog-container {
  background: var(--modal-bg);
}

.mat-dialog-title {
  display: flex !important;
  justify-content: space-between;
  color: var(--note-sub-text);
}

.ph-badge {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  right: 0;
  margin-right: 17px;
}

@media only screen and (max-width: 600px) {
  .toggle-icon {
    display: flex;
    align-items: center;
  }
}

.pointer {
  cursor: pointer;
}

blockquote {
  font-size: 1.4em;
  font-style: italic;
  border-left: 8px solid #78C0A8;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}
