<h5 mat-dialog-title>
  Save Markdown
  <button
    (click)="saveDialog.close()"
    type="button"
    class="close close-btn"
    aria-label="Close"
  >
    <span class="close-icon" aria-hidden="true">&times;</span>
  </button>
</h5>
<mat-dialog-content>
  <span>Enter filename</span>
  <div>
    <input type="text" class="input-field" [(ngModel)]="fileName" />
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button
    mat-button
    [disabled]="fileName.length == 0"
    (click)="saveFile()"
    cdkFocusInitial
  >
    Submit
  </button>
</div>
