input[type='text'] {
  background: var(--btn-hover);
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 18px;
  width: 100%;
}

.close-icon {
  font-size: 30px;
}

.mat-dialog-actions {
  justify-content: flex-end;
  margin-bottom: -6px;
}

.mat-dialog-actions button {
  padding: 5px 11px;
  background: #1d88e5;
  border-radius: 4px;
  font-size: 14px;
}
