.editor {
  letter-spacing: 0.00625em;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 15px 25px;
  outline: none;
  height: 90vh;
  overflow: auto;
}

.qr {
  height: 720px;
}

.options {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;

  position: absolute;
  right: 0;
}

.options button {
  background: var(--button);
  padding: 10px 15px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  margin-left: 5px;
}

.options button:hover {
  background: var(--btn-hover);
}

.options button .fe-icon:hover {
  color: var(--color);
}

.placeholder {
  font-size: larger;
  padding: 40px;
}


.split {
  height: 100vh;
  width: 100%;
}

.mark-pad {
  padding: 25px;
}
