<div class="d-flex">

  <ng-container *ngIf="!markdownMode">
    <div class="options">
      <button (click)="openAsQR()" *ngIf="showQR">
        <i-feather name="send" class="fe-icon"></i-feather>
      </button>
      <button (click)="deleteNote()">
        <i-feather name="trash2" class="fe-icon"></i-feather>
      </button>
    </div>

    <div *ngIf="showPlaceholder" (click)="hidePlaceholder()" class="placeholder">
      Untitled Document
    </div>
    <div id="contenteditablediv" class=" flex-grow-1" contenteditable="true" class="editor" [formControl]="noteCtrl"
      #notePad>
    </div>
  </ng-container>

  <app-markup *ngIf="markdownMode"></app-markup>

</div>
