<h5 mat-dialog-title>
  Load Markdown
  <button
    (click)="loadDialog.close()"
    type="button"
    class="close close-btn"
    aria-label="Close"
  >
    <span class="close-icon" aria-hidden="true">&times;</span>
  </button>
</h5>
<mat-dialog-content>
  <div *ngFor="let file of $list | async; let i = index" class="list-items">
    <span (click)="loadMarkdown(file)"> {{ i + 1 + ". " + file.title }} </span>
    <i-feather
      class="fe-icon"
      name="trash-2"
      (click)="deleteMarkdown(file.id)"
    ></i-feather>
  </div>
  <span *ngIf="($list | async)?.length == 0"
    >📭 No saved markdowns found !!</span
  >
</mat-dialog-content>
